body {
    padding:0px; margin:0px;
    background-color:#f4f4f4;
    font-family:Arial;
}
/*Giriş Paneli CSS Kodlaması*/
.giris-panel {
    display:block;
    width:400px;
    height:250px;
    background-color:white;
    border:1px solid #ccc;
    box-shadow:3px 3px 3px #ccc;
    margin-top:150px;
    margin-left:auto; margin-right:auto;
}
.giris-panel .title {
    padding:10px;
    border-bottom:1px dotted #ccc;
    font-size:18px; font-family:Arial;
    color:#2234fb;
    background-color:#f4f4f4;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
}
.giris-panel .content {
    font-size:16px; font-family:Arial;
    color:gray;
    display:block;
    width:250px;
    margin-top:10px;
    margin-left:auto; margin-right:auto;
}
.giris-panel .btn-submit{
    display:block;
    text-align:right;
    width:220px;
}
/*-------------------------------------------------*/
.main {
    display:block;
    width:800px;
    background-color:white;
    margin-left:auto; margin-right:auto;
    min-height:800px;
    border:1px solid gray;
}
.main .header{
    display:block;
    width:800px;
    height:100px;
    border-bottom:1px solid #ccc;
    background:url('../images/admin/header.png') no-repeat left top;
    overflow:hidden;
    clear:both;
}
.main .header .logo{
    display:block;
    color:#000000;
    font-weight:bold;
    font-size:22px;
    margin-top:25px;
    width:300px;
    padding:10px;
    float:left;
}
.main .header .header-menu{
    display:block;
    float:right;
    width:220px;
    font-size:12px;
    color:#2234fb;
    padding:10px;
    margin-top:30px;
}
.main .header .header-menu a {
    color:green;
    text-decoration:none;
    margin-left:3px; margin-right:3px;    
}
.main .header .header-menu a:hover {
        color: black;
        text-decoration: underline;
}
/*--------------------------------------------------------*/
.main nav.left-menu {
    display:block;
    width:202px;
    min-height:500px;
    height:auto;
    float:left;
    margin-right:30px;
    margin-top:10px;    
}
.main nav.left-menu .menu-title {
        display:block;
        background:url(../images/admin/menu-title.png) no-repeat left top;
        border:1px solid #ccc;
        border-bottom:0px;
        text-align:center;
        font-weight:bold;
        color:brown;
        width:180px;
        height:30px;
        font-size:14px;
        padding-top:10px;
        margin-left:auto; margin-right:auto;
        border-radius:5px 5px 0px 0px;
}
.main nav.left-menu ul#menu {
    display:block;
    padding:0px; margin:0px;
    border:1px solid #ccc;
    margin-left:auto; margin-right:auto;
    width:180px;
    list-style-type:none;  
    margin-bottom:10px;  
}
.main nav.left-menu ul#menu li {
    display:block;
    border-bottom:1px solid #ccc;
    background-color:#f4f4f4;
}
.main nav.left-menu ul#menu li a {
    display:block;
    padding:5px;
    text-decoration:none;
    color:blue;
    font-size:14px;
}
.main nav.left-menu ul#menu li a:hover {
    
    transition-property:transform;
    animation-timing-function: linear;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.main main.body {
    float:left;
    margin-top:10px;
    min-height:500px;
    color:gray;
    width:550px;
}